/* Coded with love by Mutiullah Samim */
.form-title{

    font-family: k2d;
    margin-top: 40px;
    margin-bottom: 30px;
}
.form-title>h1{
    font-size: 30px;
    color: #212121;
}
.form-title>h6{
    font-size: 18px;
    color:#757575;
}
.form-signin{
    width: 100%;
}
.user_card {
    height: 500px;
    width: 450px;
    margin-top: 30px;
    color: #757575;
}

.login_container{
    margin-top: 0% !important;
}
.login_btn {
    width: 100%;
    background: #009688!important;
    color: #fff !important;
}
.login_btn:hover{
    background-color:#03A9F4 !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container,.input-group {
    padding: 0 2rem;
}

.link-password, .links, .custom-control{
    font-size: 14px;
    text-align: center;
}
.link-password>a,.links>a{
    color: #03A9F4;
}

.link-password>a:hover, .links>a:hover{
    color: #009688;
}
.custom-control{
    margin-top: 5%;
}

/*.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #fff;
    border: solid 1px #03A9F4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}*/