

/* ******HEADER ******** */
nav.navbar{
    background-color: #0288D1;
    padding-right: 5%;
    padding-left: 5%;

}
a.nav-link{
    color:#fff !important;
}
a.nav-link:hover{
    color: #B3E5FC!important;
}
a.btn.btn-login{
   height: 100%;
   color: #ffffff;
   border: solid 1px #fff; 
}
a.btn.btn-login:hover{
    height: 100%;
    background-color: #ffffff;
    color:#0288D1;
    border: solid 1px #fff; 
 }


/*footer*/
.featurette-divider{
    border-top: 1px solid #757575;
}
