

/* ******HEADER ******** */
nav.navbar{
    background-color: #0288D1;
    padding-right: 5%;
    padding-left: 5%;

}
a.nav-link{
    color:#fff !important;
}
a.nav-link:hover{
    color: #B3E5FC!important;
}
a.btn.btn-login{
   height: 100%;
   color: #ffffff !important;
   border: solid 1px #fff !important; 
}

a.btn.btn-login:hover, a.btn.btn-login:active {
    height: 100%;
    background-color: #ffffff !important;
    color:#0288D1 !important;
    border: solid 1px #fff !important; 
 }
 a.dropdown-item:hover{
     color: #fff;
     background-color: #0288D1;
 }
.icon-profile{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

/*footer*/
.featurette-divider{
    border-top: 1px solid #757575;
    
}
main{
    margin-top:60px;
}
footer{
    background-color: #fff;
}
