body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  /*Navegador*/
header{
  position: absolute;
}
.footer{
 position: fixed;
 bottom: 0;
 width: 100%;
}
.btn-search{
    background-color: #009688!important;
    margin-top: 0 ;
    padding-top: 0 ;
    margin-bottom: 0 ;
    padding-bottom: 0 ;
}
.btn-search:hover{
    background-color: #03A9F4 !important;
}
.nav-buscador{
  background-color: #e5e5e5 !important;
}
.jumbotron{
  background-color: #e5e5e5 !important;
  height: 300px;
  display: none;
}
#link-cancelar{
  display: none;
}

.div-search{
    min-width: 270px !important;
}
/*TAGS*/
.tags>span{
  border-radius: 10px !important;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
        border-radius: 3px;
  color: #757575;

  display: inline-block;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 21px;
  margin: 2px 3px 2px 2px;
  padding: 1px 4px 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
}
.tags{
  max-height: 200px;
  width: 100%;
  overflow: auto;
}