
#inputtag::-webkit-calendar-picker-indicator {
    display: none;
  }
.information-personal, .profesional-information{
    min-width: 451px!important;
}
.min-200{
    min-width: 200px!important;
}
#BlockConocimientos{
    color:#757575;
    white-space: pre-line;
}
#TxtConocimientos{
    height:  200px;
}
.container{
    min-width: 80%  !important;
}
.text-privacity{
    color:#757575 !important;
    font-size: 10px!important;
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 5px;
}
button.icon, #archivo{
    font-size: 14px;
    height: 25px;
    color:#000;
    padding-top: 0 !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
    opacity:0.8;
    background: #E9E9E9;

}
/*foto perfil*/
.foto-perfil{
    width: 190px;
    height:190px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff ;
}

button.icon>img{
    width:12px;
    margin-right: 5px;
}
button.icon:hover, #subircv{
    opacity: 1 !important;
}
#inputtag{
    min-width: 300px !important;
}
.tags>span{
    border-radius: 10px !important;
    -webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
    color: #757575;
    border: 1px solid #BDBDBD;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin: 2px 3px 2px 2px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
}
.delete-tag{
    cursor: pointer;
}
.delete-tag:hover{
    color:red;
}
.btn-remove>img{
    width: 12px;
}
.btn-remove>img:hover{
    width: 16px ;
}
.btn-remove>span{
    color: red !important;
    font-size: 14px;
}
.btn-upload>span{
    color: #03A9F4;
    font-size: 14px;
}
.btn-remove>span:hover,.btn-upload>span:hover{
    color:#009688 !important;
    cursor: pointer;
}
.div-camera{
    max-width: 230px;
}
/*stars*/
.fa.fa-star{
   color: #BDBDBD;
}
.checked {
    color: #FBC02D !important;
  }
#contador-tags{
    font-size: 12px !important;
}
  /* elementos para editar*/
.info-tags,.DivTags,#new-password2,#BtnGuardarTag,#infopersonal2,#Datos2, #CmbUniversidad,#TxtArea,#BtnGuardarAca, #TxtConocimientos, #BtnGuardarCon,#DivContacto2{
      display: none;
  }
  input,select{
      max-width: 90%;
      min-width: 180px !important;
  }
