.container {
    max-width: 960px;
  }
  .lh-condensed { line-height: 1.25; }
  .col-md-8{
    margin: auto !important;
  }
  h4,h1,.lead{
    font-family: k2d;
  }
  .btn.btn-register{
    background-color:#009688;
    color: #ffffff !important;
  }
  .btn.btn-register:hover{
    background-color:#03A9F4 !important;
  }
  .div-ubicacion{
        float: left;
  }
  .div-det{
        float: left; 
  }
    /**TAGS**/
    #inputtag::-webkit-calendar-picker-indicator {
      display: none;
    }
    #inputtag{
      min-width: 300px !important;
  }
  .tags>span{
      border-radius: 10px !important;
      -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
      color: #757575;
      border: 1px solid #BDBDBD;
      display: inline-block;
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;
      margin: 2px 3px 2px 2px;
      padding: 1px 4px 2px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      vertical-align: baseline;
  }
  .delete-tag{
      cursor: pointer;
  }
  .delete-tag:hover{
      color:red;
  }